@charset "utf-8";
/* CSS Document */

/*
 * Element Formatting
 * 
 */
 
*{
	font-family: "Trebuchet MS", Arial, sans-serif;
}
 
a{
	text-decoration:none;
}

ul{
	list-style-type:none;
	margin:0px;
}

h1, h2{
	font-variant:small-caps;
	margin:0;
	padding:0;
}

td, th{
	vertical-align:baseline;
	padding-right:1em;
}

/*
 * Class Formatting
 * 
 */

.foot-entry{
	display:block;
	width:auto;
	float:left;
	width:880px;
	padding-left:20px;
	padding-right:20px;
}

.project-entry{
	overflow:hidden;
}
.project-entry img{
	float:left;
	margin-right:1em;
	margin-bottom:1em;
}
.project-entry h3{
	/*margin-top:1em;*/
	clear:both;
}
.project-entry span{
	font-weight:normal;
	float:right;
}
.project-entry p,.project-entry blockquote{
	font-size:90%;
}
.project-entry p:first-of-type{
	font-size:100%;
}
.project-entry p:last-child{
	font-style:italic;
}
.content-pic{
	float:right;
	width:200px;
	height:auto;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
}
/*
 * ID Formatting
 * 
 */

#banner h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:100;
	font-size:2.5em;
}

#navigation{
	background-color:rgba(0,0,0,.5);
	/* Safari 4-5, Chrome 1-9 */
 	background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.05, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.95, #1a82f7), to(#2F2727));
	
 	/* Safari 5.1+, Chrome 10+ */
 	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0));
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0));
	
	/* IE 10 */
	background: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0));
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0));
	
	overflow:hidden;
	padding-top:1em;
	padding-bottom:1em;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#999;
	width:100%;
}

#navigation li{
	float:left;
	padding-right:20px;
}

#navigation a:link, #navigation a:visited{
	color:#F0F0F0;
	display:block;
	width:auto;
}

#content{
	padding-left:40px;
	padding-right:40px;
	text-align:justify;
	overflow:hidden;
}
#column-1{
	width:650px;
	float:left;
	display:block;
}
#column-2{
	width:180px;
	float:left;
	display:block;
	margin-left:2em;
	margin-top:0;
	text-align:left;
	font-size:12px;
	border-left-width:2px;
	border-left-color:#000
}
#column-2 h3{
	font-size:16px;
	margin-top:0;
}
#column-2 ul{
	padding-left:1em;
}
#column-2 a:link, #column-2 a:visited{
	color:#333
}
#footer{
	overflow:hidden;
}
