@charset "utf-8";
/* CSS Document */

/*
 * Element Formatting
 *
 */

html{
	margin: 0;
	padding: 0;
}

body{
	margin:0;
}

/*
 * Class Formatting
 *
 */

.container-outer{
	margin-left:auto;
	margin-right:auto;
	width:960px;
}

.container-inner{
	margin:none;
}

/*
 * ID Formatting
 *
 */
 
 #wrapper{
	 background:#F0F0F0;
	 background-image:url(../img/GeneralPictures/background.png);
	 background-repeat:repeat-y;
	 background-position:center;
 }
 
 #head-wrap, #foot-wrap, #banner a{
	background-color:#CCCCCC;
	color:#FFF;
	overflow:hidden;
/*	background-image:url(../img/header_footer_bgnd.png);
	padding-left:0px;
*/
	padding-left:40px;
	padding-right:10px;
}

#content-wrap{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:30px;
	background-color:#FFF;
	padding-left:40px;
	padding-right:10px;
}

#head-wrap{
	padding-top:10px;
}

#foot-wrap{
	padding-bottom:10px;
}

#banner{
	padding-top:1em;
	margin-bottom:0px;
	padding-bottom:0px;
}
