@charset "utf-8";
/* CSS Document */

*{
	text-decoration:none;
	font-family:Helvetica, Verdana, sans;
	text-align:justify;
}

#banner-title{
	background-image:url("../img/TitleLogo.png");
	background-color:#FFFFFF;
}

#navigation li{
	text-transform:uppercase;
	text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.25);
}

#navigation a{
	color:#ffffff;
}
