@charset "utf-8";
/* CSS Document */

/* Content */
#content-wrap{
	position:relative;
	top:30px;
}

#content-border-top{
	display:block;
	height:39px;
	width:800px;
	background:url("../img/ContentBorderTop.png");
	margin:0 auto;
}

#content-border-bottom{
	display:block;
	height:39px;
	width:800px;
	background:url("../img/ContentBorderBottom.png");
	margin:0 auto;
}

#content{
	display:block;
	width:750px;
	background:#ffffff;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 20px;
}

#content h1{
	margin-top:0;
}

/* Mininav */
#mininav-wrap{
	float:right;
	width:230px;
	position:relative;
	top:-50px;
	right:-50px;
}

#mininav-border-top{
	display:block;
	height:19px;
	width:230px;
	background:url("../img/MininavBorderTop.png");
}

#mininav-border-bottom{
	display:block;
	height:19px;
	width:230px;
	background:url("../img/MininavBorderBottom.png");
}

#mininav{
	padding-left:20px;
	padding-right:20px;
	overflow:hidden;
	background:#888888;
}

#mininav h3{
	margin-top:0;
}

/* Footer */
#foot-wrap{
	position:relative;
	left:50px;
	width:800px;
	padding-top:15px;
	background:url("../img/FootBorderTop.png");
}

#footer{
	background:#333333;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	overflow:hidden;
}

.foot-entry{
	display:block;
	float:left;
	padding-left:10px;
	padding-right:10px;
}

.foot-entry p{
	margin-top:0;
}

#footer-1{
	width:60%;
}
#footer-2{
	width:30%;
	margin-left:30px;
	padding-top:10px;
}
#footer-2 img{
	padding-left:10px;
}
