@charset "utf-8";
/* CSS Document */

/* Tag formatting */
body{
	width:1080px;
	margin:0 auto;
	background-color:#D40000;
}

ul{
	list-style-type:none;
}

/* ID formatting */
#head-wrap{
	display:block;
	width:1080px;
	height:200px;
}

#header{
	position:relative;
	top:50px;
	width:1080px;
	height:150px;
}

#banner{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	height:120px;
	width:410px;
	background:url('../img/LogoBgnd.png')
}

#banner-title{
	position:absolute;
	top:30px;
	left:50px;
	height:52px;
	width:325px;
}

#navigation{
	position:absolute;
	top:90px;
	left:360px;
	height:60px;
	width:720px;
	background:url('../img/NavBgnd.png')
}

#navigation ul{
	margin:0;
	padding:0;
	position:absolute;
	left:18px;
	top:20px;
}

#navigation li{
	padding-left:40px;
	float:left;
}
